<mat-dialog-content>
  <h1 class="center">Nuevo proyecto</h1>
  <mat-form-field class="center half">
    <input matInput placeholder="Nombre del proyecto">
  </mat-form-field>
  <br>
  <mat-form-field class="center">
    <mat-chip-list #chipList>
      <mat-chip *ngFor="let username of usernames" [selectable]="selectable"
                [removable]="true" (removed)="remove(username)">
        {{username}}
      <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
    </mat-chip-list>
    <input [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputFor]="chipList" placeholder="Integrantes"
           (matChipInputTokenEnd)="addUser($event)">
    <mat-hint><strong>separados por ;</strong></mat-hint>
  </mat-form-field>
  <br>
  <button mat-raised-button color="primary" class="center half" (click)="onNoClick()">Crear</button>
</mat-dialog-content>
