<mat-dialog-content>
  <h1 class="center" i18n>Nuevo proyecto</h1>
  <mat-form-field class="center half">
    <input [(ngModel)]="projectName" matInput placeholder="Nombre del proyecto">
  </mat-form-field>
  <br>
  <mat-form-field class="center">
    <mat-chip-list #chipList>
      <mat-chip (removed)="remove(user)" *ngFor="let user of selectedUsers"
                [removable]="true" [selectable]="true">
        {{user}}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
    </mat-chip-list>
    <input #userInput (input)="valueChanged(userInput.value)"
           [matAutocomplete]="userLists" [matChipInputFor]="chipList" placeholder="Integrantes">
    <mat-autocomplete #userLists="matAutocomplete" (optionSelected)="userOption($event, userInput)">
      <mat-option *ngFor="let user of autocompleteUsers" [value]="user">
        {{user.username}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <br>
  <button (click)="createProject()" class="center half" color="primary" mat-raised-button>Crear</button>
</mat-dialog-content>
