<div *ngIf="notifications | async as notifications$">
  <div *ngFor="let notification of notifications$">
    <div fxLayout="row" fxLayoutAlign="start center" matRipple class="no-select"
         (click)="navigateToContext(notification)">
      <div>
        <img class="image" src='https://material.angular.io/assets/img/examples/shiba1.jpg'>
      </div>
      <p class="mat-body-2">
        {{notification.message}}
      </p>
    </div>
    <mat-divider></mat-divider>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center" matRipple class="no-select" *ngIf="notifications$.length === 0">
    <div>
      <img class="image" src='https://material.angular.io/assets/img/examples/shiba1.jpg'>
    </div>
    <p class="mat-body-2">Parece que no tienes notificaciones :)</p>
  </div>
</div>
