<h1>{{mediaObserver.isActive('lt-md') ? 'Nombre del repositorio' : 'Código'}}</h1>
<div class="no-select" ngClass="code-container" ngClass.lt-md="code-container-mobile">
  <mat-tab-group mat-align-tabs="start">
    <mat-tab label="Código" fxLayoutGap="40px">
      <ng-template matTabContent>
        <app-show-code class="code-card"></app-show-code>
      </ng-template>
    </mat-tab>
    <mat-tab label="Issues">
      <ng-template matTabContent>
        <app-show-issues></app-show-issues>
      </ng-template>
    </mat-tab>
    <mat-tab label="Commits">
      <ng-template matTabContent>
        <app-show-commits></app-show-commits>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>

