<div>
  <mat-toolbar color="accent" fxLayout="row">
    <button mat-button [routerLink]="['/project', route.snapshot.paramMap.get('id'), 'board']"><h1>Tablero</h1></button>
    <div fxLayoutAlign="end end" fxFlex>
      <!-- TODO mostrar este icono solo si esta en un grupo de tarjetas-->
      <button mat-icon-button>
        <mat-icon>person_add</mat-icon>
      </button>
    </div>
  </mat-toolbar>

  <div class="board">
    <div class="card-list mat-elevation-z5 card-holder" ngClass="" ngClass.lt-md="card-mobile"
         *ngFor="let track of tracks; let i=index">

      <h2 cdkDragHandle class="mat-h2">{{track.title}}</h2>

      <div class="card-list-content" cdkDropList [id]="track.id" [cdkDropListData]="track.tasks"
           [cdkDropListConnectedTo]="trackIds"
           (cdkDropListDropped)="onTaskDrop($event)" style="background-color: cornflowerblue;">


        <mat-card style="margin: 2%;" *ngFor="let task of track.tasks" cdkDrag>
          <!-- Use the mat-card-content to add the proper spacing. -->
          <mat-card-content>
            <h2>{{task.title}}</h2>
            {{task.description}}
          </mat-card-content>
        </mat-card>
      </div>

    </div>

  </div>

  <!--
  <div class="board" *ngFor="let b of board | async">

    <div class="card-list mat-elevation-z5 card-holder" ngClass="" ngClass.lt-md="card-mobile"
         *ngFor="let group of b.kanbanGroups; let i=index">

      <h2 cdkDragHandle class="mat-h2">{{group.name}}</h2>

      <div class="card-list-content" cdkDropList [id]="group.name" [cdkDropListData]="group.cards"
           [cdkDropListConnectedTo]="(groupsIds | async)"
           (cdkDropListDropped)="onTaskDrop($event)" style="background-color: cornflowerblue;">


        <mat-card style="margin: 2%;" *ngFor="let task of group.cards" cdkDrag>

          <mat-card-content>
            <h2>{{task.title}}</h2>
            {{task.description}}
          </mat-card-content>
        </mat-card>
      </div>

    </div>

  </div>
  -->
</div>
