<mat-card class="code-card">
  <mat-toolbar color="accent">
    <h1>Issues</h1>
  </mat-toolbar>
  <mat-card-content>
    <ng-template #progressBar>
      <mat-progress-bar mode="query"></mat-progress-bar>
    </ng-template>
    <mat-list *ngIf="issues | async as issues$; else progressBar">
      <mat-list-item *ngIf="issues$.length === 0">
        Parece que no hay issues :)
      </mat-list-item>
      <a target="_blank" style="text-decoration: none; color: inherit" *ngFor="let issue of issues$" [href]="issue?.htmlUrl">
        <mat-list-item matRipple>
          <p style="text-overflow: ellipsis; overflow-y: hidden">#{{issue?.number}} {{issue?.title}}</p>
          <mat-divider></mat-divider>
        </mat-list-item>
      </a>
    </mat-list>
  </mat-card-content>
</mat-card>
