<mat-sidenav-container id="container">
  <mat-sidenav mode="side" opened #sidenav>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Projecto
          </mat-panel-title>
        </mat-expansion-panel-header>
        <button mat-button>Descripción</button><br>
        <button mat-button>Integrantes</button><br>
        <button mat-button>Subgrupos</button><br>
        <button mat-button>Calendario</button><br>
        <button mat-button>Requerimientos</button>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Trabajo
          </mat-panel-title>
        </mat-expansion-panel-header>
        <button mat-button>Tablero</button><br>
        <button mat-button>Asignación de trabajos</button>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Codigo
          </mat-panel-title>
        </mat-expansion-panel-header>
        <button mat-button>Archivos</button><br>
        <button mat-button>Commits</button><br>
        <button mat-button>Push</button><br>
        <button mat-button>Ramas</button><br>
        <button mat-button>Pull request</button>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Tests
          </mat-panel-title>
        </mat-expansion-panel-header>
        <button mat-button>Estadísticas</button><br>
        <button mat-button>Crear test</button><br>
        <button mat-button>Test realizados</button>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Mensajes
          </mat-panel-title>
        </mat-expansion-panel-header>
        <button mat-button>Grupal</button><br>
        <button mat-button>Personal</button><br>
        <button mat-button>Con administrador</button>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-sidenav>
  <mat-sidenav-content>
      <button mat-raised-button id="toggle" (click)="sidenav.toggle()">-</button>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>