<h2 mat-dialog-title>
  ¿Estas seguro de que quieres encolar un test?
</h2>

<mat-dialog-content>
  <form [formGroup]="createTestForm" fxLayout="column">
    <mat-form-field>
      <input type="text" matInput formControlName="name">
      <mat-label>Nombre</mat-label>
    </mat-form-field>
    <mat-form-field>
      <mat-select formControlName="buildDefinition">
        <mat-option *ngFor="let buildDefinition of buildDefinitions | async"
                    [value]="buildDefinition.id">
          {{buildDefinition.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close cdkFocusInitial>CANCELAR</button>
  <button mat-button (click)="createTest()" [disabled]="!createTestForm.valid">ENCOLAR TEST</button>
</mat-dialog-actions>
