<mat-toolbar color="primary" fxLayout="row" class="mat-elevation-z5">
  <button mat-button routerLink="/"><h1>MaxOrg</h1></button>
  <div fxFlex></div>
  <button (click)="displayLoginDialog()" *ngIf="!userService.isUserLoggedIn()" i18n mat-button>Iniciar sesión</button>


  <div fxLayout="row" fxFlex="100" *ngIf="userService.isUserLoggedIn()">

    <mat-menu #accountMenu="matMenu">
      <button i18n mat-menu-item routerLink="todos">Mis pendientes</button>
      <button i18n mat-menu-item routerLink="my_account">Opciones</button>
      <mat-divider></mat-divider>
      <button (click)="userService.closeSession(); authService.signOut(true);" i18n mat-menu-item>Cerrar sesión</button>
    </mat-menu>

    <mat-menu #notificationMenu="matMenu" class="notifications-dropdown">
      <app-notifications #notificationComponent></app-notifications>
    </mat-menu>

    <div fxFlex></div>
    <button [matMenuTriggerFor]="notificationMenu" mat-icon-button>
      <mat-icon [matBadge]="(notificationComponent.getNumberOfUnreadNotifications() | async) > 99 ? '99+' : (notificationComponent.getNumberOfUnreadNotifications() | async)" matBadgeColor="warn"
                matBadgePosition="above after">notifications
      </mat-icon>
    </button>
    <div fxFlex.lt-md="1" fxFlex.gt-md="1"></div>
    <button [matMenuTriggerFor]="accountMenu" mat-icon-button>
      <mat-icon>account_circle</mat-icon>
    </button>
  </div>
  <div fxFlex.lt-md="1" fxFlex.gt-md="5"></div>
</mat-toolbar>
