<mat-toolbar color="primary" fxLayout="row">
  <button mat-button routerLink="/"><h1>MaxOrg</h1></button>
  <div fxFlex></div>
  <button *ngIf="!auth.isUserAuthenticated()" mat-button (click)="displayLoginDialog()">Iniciar sesión</button>


  <div *ngIf="auth.isUserAuthenticated()">

    <mat-menu #accountMenu="matMenu">
      <button mat-menu-item routerLink="todos">Mis pendientes</button>
      <mat-divider></mat-divider>
      <button mat-menu-item routerLink="my_account">Opciones</button>
    </mat-menu>

    <mat-menu #notificationMenu="matMenu">
      <div fxLayout="column" style="width: 280px; height: 300px; overflow-x: hidden;">
        <div *ngFor="let notification of notifications">
          <div fxLayout="row">
            <div>
              <img class="image" src='https://material.angular.io/assets/img/examples/shiba1.jpg'>
            </div>
            <button mat-button fxFill>
              Ha publicado...
            </button>
          </div>
          <mat-divider></mat-divider>
        </div>
      </div>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="notificationMenu">
      <mat-icon matBadge="3" matBadgePosition="above after" matBadgeColor="warn">notifications</mat-icon>
    </button>
    <button mat-button [matMenuTriggerFor]="accountMenu">
      <mat-icon>account_circle</mat-icon>
    </button>
  </div>
  <div fxFlex="1" fxFlex.gt-md="5"></div>
</mat-toolbar>
