<div fxLayout="column" class="width-100 height-100">
  <!-- style="background-image: url('/images/logos/people-admin.png')"-->
  <ngx-hm-carousel
    [(ngModel)]="index"
    [autoplay-speed]="speed"
    [autoplay]="autoplay"
    [autoplay-direction]="direction"
    [infinite]="infinite"
    [between-delay]="2000"
    [data]="avatars"
    [aniTime]="600"
    class="carousel">

    <section ngx-hm-carousel-container class="content">
      <article class="item cursor-pointer visible_important"
               ngx-hm-carousel-item
               *ngFor="let avatar of avatars; let i = index">
        <div class="img"
             [style.backgroundImage]="'url('+avatar.url+')'" style="width: 100%; height: 100%">
          <div fxLayout="column" style="opacity: 1">
            <h1 style="font-size: 2.5em; opacity: 1; text-align: center; color: white">MaxOrg</h1>
            <div fxFlex></div>
            <h1 [ngStyle]="{'margin-top': '15%'}" [ngStyle.lt-sm]="{'margin-top': '50%'}" style="font-size:2em; text-align: center; opacity: 1; color: white">{{avatar.title}}</h1>
          </div>
        </div>
      </article>
      <ng-template #infiniteContainer></ng-template>
    </section>

    <ng-template #carouselContent let-avatar let-i="index">
      <article class="item cursor-pointer visible_important">
        <div class="img"
             [style.backgroundImage]="'url('+avatar.url+')'">
        </div>
      </article>
    </ng-template>

    <ng-template #carouselDot let-model>
      <div class="ball bg-accent"
           [class.visible]="model.index === model.currentIndex"></div>
    </ng-template>

  </ngx-hm-carousel>

</div>
