<div fxLayout="column">
  <h1 fxFlexAlign="center">MaxOrg</h1>

  <!-- Aquí va el carousel-->

  <h2 fxFlexAlign="center">¿Qué es MaxOrg?</h2>
  <div fxLayout="row" fxLayout.xs="column">
    <div fxLayoutAlign="center center" fxFlex="1 1 50%" fxLayout="column">
      <h2>Caracteristicas</h2>
      <ul>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
        <li>Item 4</li>
      </ul>
    </div>

    <div fxLayoutAlign="center center" fxFlex="1 1 50%" fxLayout="row">
      <img fxFlex="40%" fxFlex.lt-md="100%" src="https://i.pinimg.com/originals/20/2e/5a/202e5a6a68eb1b2d32847f41148e6127.jpg">
    </div>
  </div>
</div>
