<div class="boards-container" *ngIf="boards | async; else loading">
  <h1 class="mat-h1">Mis tableros</h1>
  <mat-grid-list [cols]="mediaObserver.isActive('lt-md') ? 1 : 3" rowHeight="21.875px">
    <mat-grid-tile *ngFor="let board of boards | async" class="no-select" [colspan]="1" [rowspan]="8">
      <mat-card matRipple (click)="goToBoard(board.id)" class="board-card mat-elevation-z3">
        <mat-card-header>
          <div mat-card-avatar>
            <mat-icon>dashboard</mat-icon>
          </div>
          <mat-card-title>
            {{board.name}}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          Pequeña descripción
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile class="no-select" [colspan]="mediaObserver.isActive('lt-md') ? 1 : 3" [rowspan]="9">
      <mat-card class="board-card mat-elevation-z3">
        <mat-card-header>
          <mat-card-title>
            Crear nuevo tablero
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <form>
            <mat-form-field class="width-100">
              <input matInput type="text" placeholder="Nombre del tablero">
              <mat-hint>6 caracteres como minimo</mat-hint>
            </mat-form-field>
            <button mat-button class="width-100" color="primary">CREAR</button>
          </form>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
<ng-template #loading>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>
