<div *ngIf="boards | async; else loading" class="boards-container">
  <h1 class="mat-h1">Mis tableros</h1>
  <mat-grid-list [cols]="mediaObserver.isActive('lt-md') ? 1 : 4" rowHeight="175px">
    <mat-grid-tile *ngFor="let board of boards | async" [colspan]="1" [rowspan]="1" class="no-select">
      <mat-card (click)="goToBoard(board.id)" class="board-card mat-elevation-z3" matRipple>
        <mat-card-header>
          <div mat-card-avatar>
            <mat-icon>dashboard</mat-icon>
          </div>
          <mat-card-title>
            {{board.name}}
          </mat-card-title>
        </mat-card-header>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="mediaObserver.isActive('lt-md') ? 1 : 4" [rowspan]="2" class="no-select"
                   *ngIf="!(readOnly.readOnly | async)">
      <mat-card class="board-card mat-elevation-z3">
        <mat-card-header>
          <mat-card-title>
            Crear nuevo tablero
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <form>
            <mat-form-field class="width-100">
              <input #boardName matInput maxlength="15" minlength="6" placeholder="Nombre del tablero" type="text">
              <mat-hint>6 caracteres como minimo, 15 maximo</mat-hint>
            </mat-form-field>
            <button (click)="createBoardWithName(boardName.value)" class="width-100" color="primary" mat-button>CREAR
            </button>
          </form>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
<ng-template #loading>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>
