<mat-toolbar color="primary" fxLayout="row">
  <div fxFlex="33">
    <button (click)="sidenav.toggle()" mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <button mat-button routerLink="/start"><h1>MaxOrg</h1></button>
  </div>

  <div fxFlex fxLayout="row" fxLayoutAlign="end end">
    <mat-menu #accountMenu="matMenu">
      <button i18n mat-menu-item routerLink="/start/todos">Mis pendientes</button>
      <mat-divider></mat-divider>
      <button i18n mat-menu-item routerLink="/start/my_account">Opciones</button>
    </mat-menu>

    <mat-menu #notificationMenu="matMenu">
      <app-notifications #notificationsComponent></app-notifications>
    </mat-menu>

    <button [matMenuTriggerFor]="notificationMenu" mat-icon-button>
      <mat-icon [matBadge]="notificationsComponent.getNumberOfUnreadNotifications() | async" matBadgeColor="warn" matBadgePosition="above after">notifications</mat-icon>
    </button>
    <div fxFlex="2" fxFlex.gt-md="1"></div>
    <button [matMenuTriggerFor]="accountMenu" mat-icon-button>
      <mat-icon>account_circle</mat-icon>
    </button>
    <div fxFlex="3" fxFlex.gt-md="6"></div>
  </div>
</mat-toolbar>

<mat-sidenav-container id="container">
  <mat-sidenav ngClass="sidenav" ngClass.lt-md="sidenav-mobile" #sideNav
               [mode]="mediaObserver.isActive('lt-md') ? 'over' : 'side'"
               [opened]="!mediaObserver.isActive('lt-md')" #sidenav>
    <mat-nav-list class="no-select" (click)="sidenav.toggle(!mediaObserver.isActive('lt-md'))">
      <h3>{{(projectInfo | async).name}}</h3>
      <mat-list-item routerLink="./">
        <mat-icon matListIcon>home</mat-icon>
        Inicio
      </mat-list-item>
      <mat-divider></mat-divider>
      <h3 mat-subheader>Proyecto</h3>
      <mat-list-item routerLink="./dashboard" *ngIf="(user | async)?.key === (projectInfo | async)?.groupOwner">
        <mat-icon matListIcon>dashboard</mat-icon>
        Panel de administrador
      </mat-list-item>
      <mat-list-item routerLink="./messages">
        <mat-icon matListIcon>message</mat-icon>
        Mensajes
      </mat-list-item>
      <mat-list-item routerLink="posts">
        <mat-icon matListIcon>description</mat-icon>
        Posts
      </mat-list-item>
      <mat-list-item routerLink="members">
        <mat-icon matListIcon>group</mat-icon>
        Integrantes
      </mat-list-item>
      <mat-list-item routerLink="org-chart">
        <mat-icon matListIcon>group_work</mat-icon>
        Subgrupos
      </mat-list-item>
      <mat-list-item routerLink="calendar">
        <mat-icon matListIcon>calendar_today</mat-icon>
        Calendario
      </mat-list-item>
      <mat-list-item routerLink="requirements">
        <mat-icon matListIcon>format_list_numbered</mat-icon>
        Requerimientos
      </mat-list-item>
      <mat-divider></mat-divider>
      <h3 mat-subheader>Trabajo</h3>
      <mat-list-item routerLink="board">
        <mat-icon matListIcon>view_week</mat-icon>
        Tablero
      </mat-list-item>
      <mat-list-item routerLink="assigned-work">
        <mat-icon matListIcon>work</mat-icon>
        Asignación de trabajos
      </mat-list-item>
      <mat-divider></mat-divider>
      <h3 mat-subheader>Código</h3>
      <mat-list-item routerLink="code">
        <mat-icon matListIcon>code</mat-icon>
        Código
      </mat-list-item>
      <a [href]="'https://github.com/Alan5142/MaxOrg'">
        <mat-list-item>
          <mat-icon matListIcon svgIcon="github"></mat-icon>
          Ver en github
        </mat-list-item>
      </a>
      <mat-divider></mat-divider>
      <h3 mat-subheader>Tests</h3>
      <mat-list-item routerLink="tests">
        <mat-icon matListIcon svgIcon="flask"></mat-icon>
        Tests
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
