<div ngClass="task-list-mobile" ngClass.gt-md="task-list">
  <form class="width-100">
    <mat-form-field class="width-100">
      <input (keyup)="applyFilter($event.target.value)" matInput placeholder="Buscar..." type="text">
      <mat-icon matPrefix>search</mat-icon>
    </mat-form-field>
    <button (click)="openCreateTask()" color="primary" mat-flat-button mat-icon-button>
      <mat-icon>add</mat-icon>
    </button>
  </form>

  <div style="overflow-x: auto;">
    <div ngClass="" ngClass.lt-sm="table-content-mobile">
      <table [dataSource]="tasks" class="mat-elevation-z8 width-100" mat-table matSort>

        <ng-container matColumnDef="id">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>#</th>
          <td *matCellDef="let element" mat-cell> {{element.id}}</td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>Nombre</th>
          <td *matCellDef="let element" mat-cell> {{element.name}}</td>
        </ng-container>

        <ng-container matColumnDef="description">
          <th *matHeaderCellDef mat-header-cell>Descripción</th>
          <td *matCellDef="let element" mat-cell> {{element.description}}</td>
        </ng-container>

        <ng-container matColumnDef="creationDate">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>Fecha de creación</th>
          <td *matCellDef="let element" mat-cell> {{formatDate(element.creationDate)}}</td>
        </ng-container>

        <ng-container matColumnDef="assignedDate">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>Fecha de asignación</th>
          <td *matCellDef="let element" mat-cell> {{formatDate(element.assignedDate)}}</td>
        </ng-container>

        <ng-container matColumnDef="progress">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>Progreso</th>
          <td *matCellDef="let element" mat-cell>
            <mat-progress-bar [value]="element.progress" mode="determinate"></mat-progress-bar>
            <p class="text-center">{{element.progress}}%</p>
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th *matHeaderCellDef mat-header-cell></th>
          <td *matCellDef="let element" mat-cell>
            <button (click)="editTask()" mat-icon-button>
              <mat-icon>edit</mat-icon>
            </button>
            <button (click)="deleteTask()" color="warn" mat-icon-button>
              <mat-icon>delete_forever</mat-icon>
            </button>
          </td>
        </ng-container>


        <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
        <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
      </table>
    </div>
  </div>


  <mat-paginator [pageSizeOptions]="[5, 10]"
                 [pageSize]="5"
                 [showFirstLastButtons]="true">

  </mat-paginator>
</div>
