<div ngClass="task-list-mobile" ngClass.gt-md="task-list">
  <form class="width-100">
    <mat-form-field class="width-100">
      <input (keyup)="applyFilter($event.target.value)" matInput placeholder="Buscar..." type="text">
      <mat-icon matPrefix>search</mat-icon>
    </mat-form-field>
    <button (click)="openCreateTask()" color="primary" mat-flat-button mat-icon-button>
      <mat-icon>add</mat-icon>
    </button>
  </form>

  <div style="overflow-x: auto;">
    <div ngClass="" ngClass.lt-sm="table-content-mobile">
      <table [dataSource]="users" class="mat-elevation-z8 width-100" mat-table matSort>

        <ng-container matColumnDef="username">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>Nombre de usuario</th>
          <td *matCellDef="let user" mat-cell> {{user.id}}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th *matHeaderCellDef mat-header-cell></th>
          <td *matCellDef="let element" mat-cell>
            <button (click)="editTask()" mat-icon-button>
              <mat-icon>edit</mat-icon>
            </button>
            <button (click)="deleteTask()" color="warn" mat-icon-button>
              <mat-icon>delete_forever</mat-icon>
            </button>
          </td>
        </ng-container>


        <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
        <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
      </table>
    </div>
  </div>


  <mat-paginator [pageSizeOptions]="[5, 10]"
                 [pageSize]="5"
                 [showFirstLastButtons]="true">

  </mat-paginator>
</div>
