<h1 mat-dialog-title>Crear nueva sección</h1>
<div mat-dialog-content>
  <form fxLayout="column" [formGroup]="createSectionForm">
    <mat-form-field>
      <input matInput type="text" name="sectionName" maxlength="15" minlength="1" formControlName="sectionName">
      <mat-label>Maximo 15 caracteres</mat-label>
      <mat-error *ngIf="createSectionForm.get('sectionName').errors?.required">El campo es requerido</mat-error>
      <mat-error *ngIf="createSectionForm.get('sectionName').errors?.minlength">El campo requiere mas de 1 caracter
      </mat-error>
      <mat-error *ngIf="createSectionForm.get('sectionName').errors?.maxlength">El campo requiere menos de 15
        caracteres
      </mat-error>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="">CANCELAR</button>
  <button mat-flat-button cdkFocusInitial color="primary" (click)="createSection()">CREAR</button>
</div>
