<div class="height-100">
  <div [ngClass.lt-md]="['mobile-view']" fxLayout="column" fxLayoutAlign="center stretch" ngClass.gt-md='desktop-view'
       *ngIf="currentUser !== null">
    <h1 class="text-center" i18n>Mi cuenta</h1>

    <div fxLayout="row" fxLayoutAlign="center stretch">
      <img-cropper #imageCropper *ngIf="fileData !== null" [image]="data" [settings]="cropperSettings"></img-cropper>

      <img *ngIf="fileData === null" [src]="!newUserImage ? profileUrl : data.image" ngClass="image"
           ngClass.xs="image-small">
      <button *ngIf="fileData === null" (click)="selectImage()" fxFlexAlign="end" mat-icon-button>
        <mat-icon>edit</mat-icon>
      </button>
      <button (click)="fileData = null" *ngIf="fileData !== null" fxFlexAlign="end" mat-icon-button>
        <mat-icon>check</mat-icon>
      </button>
    </div>

    <mat-divider></mat-divider>
    <mat-slide-toggle (change)="changeTheme($event)" [checked]="theme.isDarkTheme | async">Modo oscuro</mat-slide-toggle>
    <form fxLayout="column" [formGroup]="userDataForm" class="height-100" style="margin-bottom: 80px;">
      <h2>{{currentUser === null ? '' : currentUser.username}}</h2>

      <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input type="text" matInput value="{{currentUser.realName}}" formControlName="realName">
      </mat-form-field>

      <mat-form-field>
      <textarea [value]="currentUser !== null ? currentUser.description : ''" cdkTextareaAutosize
                i18n-placeholder
                matInput
                placeholder="Descripción"
                formControlName="description"></textarea>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Ocupación</mat-label>
        <input matInput type="text" formControlName="occupation" value="{{currentUser.occupation}}">
      </mat-form-field>

      <mat-form-field>
        <input i18n-placeholder matInput placeholder="contraseña" type="password" formControlName="password">
        <mat-error *ngIf="userDataForm.get('password').errors?.length">
          La longitud minima es de 8 caracteres
        </mat-error>

        <mat-error *ngIf="userDataForm.get('password').errors?.mismatch">
          Las contraseñas no coinciden
        </mat-error>

      </mat-form-field>

      <mat-form-field>
        <input i18n-placeholder
               matInput
               placeholder="repetir contraseña"
               type="password"
               (keyup)="checkPasswords()"
               formControlName="repeatPassword">
      </mat-form-field>
      <mat-form-field>
        <mat-select i18n-placeholder
                    placeholder="Sonido de notificaciones"password
                    value="{{userNotificationPreference | async}}"
                    formControlName="preferences">
          <mat-option i18n value="1">Todas las prioridades</mat-option>
          <mat-option i18n value="2">Media y alta prioridad</mat-option>
          <mat-option i18n value="3">Solo alta prioridad</mat-option>
        </mat-select>

      </mat-form-field>
      <button color="accent" i18n mat-flat-button type="submit" (click)="updateUserData()">GUARDAR CAMBIOS</button>
    </form>
  </div>
</div>

