<div fxLayout="column" fxLayoutAlign="center center">
  <h1 i18n>Mi cuenta</h1>

  <div fxLayout="row">
    <img ngClass="image" ngClass.xs="image-small" src='https://material.angular.io/assets/img/examples/shiba1.jpg'>
    <button mat-icon-button fxFlexAlign="end" (click)="selectImage()">
      <mat-icon>edit</mat-icon>
    </button>
  </div>

  <mat-divider></mat-divider>
  <form fxLayout="column">
    <mat-form-field>
      <input matInput type="text" placeholder="Nombre de usuario" i18n-placeholder>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput placeholder="Descripción" i18n-placeholder></textarea>
    </mat-form-field>

    <mat-form-field>
      <div fxLayout="row">
        <input matInput type="password" placeholder="contraseña" i18n-placeholder>
        <button mat-icon-button (click)="passwordChanged = true">
          <mat-icon>edit</mat-icon>
        </button>
      </div>
    </mat-form-field>
    <mat-form-field *ngIf="passwordChanged">
      <div fxLayout="row">
        <input matInput type="password" placeholder="repetir contraseña" i18n-placeholder>
      </div>
    </mat-form-field>
    <mat-form-field>

      <mat-select placeholder="Sonido de notificaciones" i18n-placeholder>
        <mat-option value="all" i18n>Todas las prioridades</mat-option>
        <mat-option value="medium-high" i18n>Media y alta prioridad</mat-option>
        <mat-option value="high-only" i18n>Solo alta prioridad</mat-option>
      </mat-select>

    </mat-form-field>
    <button mat-flat-button color="accent" i18n>Guardar cambios</button>
  </form>
</div>
