<mat-dialog-content>
  <form fxLayout="column" >
    <h2>Restablecer contraseña</h2>
    <h3>Usuario</h3>
    <mat-form-field>
      <input matInput #username matInput type="text">
      <mat-label>Usuario</mat-label>
    </mat-form-field>
    <h3>o email</h3>
    <mat-form-field>
      <input matInput #email matInput type="email">
      <mat-label>Email</mat-label>
    </mat-form-field>
    <button mat-flat-button color="primary" (click)="requestNewPassword(username.value, email.value)">SOLICITAR CAMBIO</button>
  </form>
</mat-dialog-content>

