<div class="width-100 height-100" fxLayout="column" fxLayoutAlign="center center">
  <h3>Restablecer contraseña</h3>
  <form [formGroup]="form" fxLayout="column" (ngSubmit)="changePassword()">
    <mat-form-field>
      <input matInput type="password" formControlName="password">
      <mat-error *ngIf="form.get('password')?.errors?.minlength">Longitud minima de 8 caracteres</mat-error>
      <mat-error *ngIf="form.get('password')?.errors?.mismatch">Las contraseñas no coinciden</mat-error>
      <mat-error *ngIf="form.get('password')?.errors?.required">Campo requerido</mat-error>
      <mat-label>Contraseña</mat-label>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" formControlName="repeatPassword" (keyup)="form.get('password')?.updateValueAndValidity();">
      <mat-error *ngIf="form?.get('repeatPassword')?.errors?.minlength">Longitud minima de 8 caracteres</mat-error>
      <mat-error *ngIf="form.get('password')?.errors?.mismatch">Las contraseñas no coinciden</mat-error>
      <mat-error *ngIf="form?.get('repeatPassword')?.errors?.required">Campo requerido</mat-error>
      <mat-label>Repetir contraseña</mat-label>
    </mat-form-field>
    <button [disabled]="!form?.valid" type="submit" mat-flat-button color="primary">RESTABLECER</button>
  </form>
</div>
