<h2 mat-dialog-title>

  <mat-toolbar *ngIf="!mediaObserver.isActive('lt-md')" fxLayout="row">
    <h1 fxFlex>Crear reporte</h1>
    <button mat-icon-button>
      <mat-icon>add_photo_alternate</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>attach_file</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>format_list_bulleted</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>format_list_numbered</mat-icon>
    </button>
  </mat-toolbar>

  <mat-toolbar *ngIf="mediaObserver.isActive('lt-md')">
    <mat-toolbar-row>
      <h1>Crear reporte</h1>
    </mat-toolbar-row>
    <mat-toolbar-row fxLayout="row" fxLayoutAlign="end">
      <button mat-icon-button>
        <mat-icon>add_photo_alternate</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>attach_file</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>format_list_bulleted</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>format_list_numbered</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
</h2>

<mat-dialog-content id="description-container">
  <mat-form-field class="width-100">
    <textarea #descriptionField class="width-100" matInput cdkTextareaAutosize cdkAutosizeMinRows="15"
              [value]="report"></textarea>
    <mat-label>Descripción</mat-label>
    <mat-hint>Puedes utilizar markdown</mat-hint>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close cdkFocusInitial>CANCELAR</button>
  <button mat-flat-button color="primary" mat-dialog-close>CREAR REPORTE</button>
</mat-dialog-actions>
