.post-container {
    margin: 0 30% 0 30%;
  }
  
  .post-container-mobile {
    margin: 0 5% 0 5%
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  