<div class="height-100" fxLayout="column" fxLayoutAlign="end stretch" *ngIf="currentUser | async as user">
  <div>
    <mat-toolbar [ngStyle.lt-md]="{'position': 'fixed', 'top': '0px'}" ngStyle="">
      <button (click)="location.back()" *ngIf="mediaObserver.isActive('lt-md')" fxFlexAlign="center" mat-icon-button>
        <mat-icon>arrow_back</mat-icon>
      </button>
      <div fxFlex fxLayout="column" fxLayoutAlign="center stretch">
        <h3 class="text-center">{{(chat | async)?.name}}</h3>
      </div>
      <button fxFlexAlign="center" mat-icon-button>
        <mat-icon>more_vert</mat-icon>
      </button>
      <div fxFlex="3"></div>
    </mat-toolbar>
  </div>

  <mat-divider></mat-divider>

  <virtual-scroller #scroll
                    [bufferAmount]="100"
                    [enableUnequalChildrenSizes]="true"
                    [items]="chatMessages"
                    class="height-100">
    <app-chat-message *ngFor="let message of scroll?.viewPortItems; let i = index"
                      class="chat-element chat-view"
                      fxLayout="column"
                      (refresh)="scrollToBottom(scroll?.viewPortItems.length - 1)"
                      [lastMessage]="i === scroll.viewPortItems.length - 1"
                      [message]="message.data"
                      [sender]="message.remitent"
                      [messageData]="message"
                      [selfMessage]="user.username === message.remitent"></app-chat-message>

  </virtual-scroller>
  <mat-form-field appearance="outline" class="width-100" fxFlexAlign="end">
    <textarea #message cdkTextareaAutosize matInput placeholder="mensaje"></textarea>
  </mat-form-field>

  <app-speed-dial-fab
    [canClick]="message.value.length === 0"
    [fabIcon]="message.value.length > 0 ? 'message' : 'attach_file'"
    [fabButtons]="speedDialFabButtons"
    (fabClick)="onSpeedDialFabClicked($event)"
    (fabToggleClick)="sendMessage(message.value); message.value = ''"
    yPosition="bottom" xPosition="right">
  </app-speed-dial-fab>


</div>
<input (change)="uploadImageToServer($event)" #uploadImage type="file" hidden accept="image/*" name="uploadImage">
<input (change)="uploadImageToServer($event)" #uploadFile type="file" hidden accept="*" name="uploadFile">
