<div fxLayout="column" fxLayoutAlign="end stretch" class="height-100">
  <div>
    <mat-toolbar>
      <button *ngIf="mediaObserver.isActive('lt-md')" fxFlexAlign="center" mat-icon-button (click)="location.back()">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <div fxFlex fxLayout="column" fxLayoutAlign="center stretch">
        <h3 class="text-center">Nombre</h3>
      </div>
      <button fxFlexAlign="center" mat-icon-button>
        <mat-icon>more_vert</mat-icon>
      </button>
      <div fxFlex="3"></div>
    </mat-toolbar>
  </div>

  <mat-divider></mat-divider>

  <cdk-virtual-scroll-viewport #scrollViewPort fxLayout="column-reverse" itemSize="19" class="height-100" fxlayout="column" fxLayoutAlign="end center">
      <div *cdkVirtualFor="let item of items" class="width-100" fxFlexAlign="end">{{item}}</div>
  </cdk-virtual-scroll-viewport>

  <mat-form-field fxFlexAlign="end" appearance="outline" class="width-100">
    <textarea matInput cdkTextareaAutosize placeholder="mensaje"></textarea>
    <button matSuffix mat-fab fxFlexAlign="end" (click)="scrollViewPort.scrollToIndex(500)">
      <mat-icon>message</mat-icon>
    </button>
  </mat-form-field>
</div>
