<div fxLayout="column" fxLayoutGap="50px">
  <h1 fxFlexAlign="center" style="text-align: center;">Bienvenido de nuevo, <br> [usuario]</h1>
  <div fxLayout="row wrap" fxLayoutAlign="center">
    <button mat-stroked-button>Crear nuevo proyecto</button>
  </div>

  <div fxLayout="row" fxLayout.sm="column" fxLayoutGap="50px">
    <div fxFlex="10"></div> <!--Separator-->

    <div fxFlex="25">
      <mat-card style="min-height: 300px;">
        <mat-card-header>
          <mat-card-title>Proyectos recientes</mat-card-title>
        </mat-card-header>

        <mat-divider></mat-divider>

        <mat-card-content>
          <mat-form-field fxFill>
            <mat-icon matPrefix>search</mat-icon>
            <input matInput type="text" placeholder="Buscar...">
          </mat-form-field>

          <mat-list>
            <mat-list-item fxFill *ngFor="let project of projects">
              <mat-icon matPrefix>folder</mat-icon>
              <button fxFill mat-button>{{project}}</button>
            </mat-list-item>
          </mat-list>

        </mat-card-content>

      </mat-card>
    </div>

    <div fxFlex="50">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Actividad reciente</mat-card-title>
        </mat-card-header>

      </mat-card>
    </div>
    <div fxFlex></div>
  </div>
</div>
