<div fxLayout="column" fxLayoutAlign="center">
  <h1 i18n style="text-align: center;">
    Por hacer
  </h1>

  <div fxFlex="100%" fxLayout="row">
    <div fxFlex.gt-md="25%" fxFlex.lt-md="0%"></div>
    <div fxFlex="100%" fxLayout="column">
      <mat-expansion-panel *ngFor="let project of projects">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{project}}
          </mat-panel-title>
          <mat-panel-description>
            Grupo1
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>lorem ipsum bla bla</p>
      </mat-expansion-panel>
    </div>
    <div fxFlex.gt-md="25%" fxFlex.lt-md="0%"></div>
  </div>

</div>
