<div fxLayout="column" fxLayoutAlign="center">
  <h1 style="text-align: center;" i18n>
    Por hacer
  </h1>

  <div fxLayout="row" fxFlex="100%">
    <div fxFlex.gt-md="25%" fxFlex.lt-md="0%"></div>
    <div fxLayout="column" fxFlex="100%">
      <mat-expansion-panel *ngFor="let project of projects">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{project}}
          </mat-panel-title>
          <mat-panel-description>
            Grupo1
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>lorem ipsum bla bla</p>
      </mat-expansion-panel>
    </div>
    <div fxFlex.gt-md="25%" fxFlex.lt-md="0%"></div>
  </div>

</div>
