<mat-toolbar color="accent" fxLayout="row">
  <button mat-icon-button routerLink="../">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <h1>Tablero</h1>
  <div fxFlex="5"></div>
  <button *ngIf="mediaObserver.isActive('gt-md')" mat-icon-button (click)="reload.emit($event)">
    <mat-icon>cached</mat-icon>
  </button>
  <div fxFlex fxLayoutAlign="end end">
    <button mat-icon-button *ngIf="!mediaObserver.isActive('gt-md')" (click)="reload.emit($event)">
      <mat-icon>cached</mat-icon>
    </button>
    <button mat-icon-button *ngIf="canEdit !== null && canEdit" (click)="createSection.emit($event)">
      <mat-icon>add</mat-icon>
    </button>
    <button mat-icon-button (click)="members.emit($event)">
      <mat-icon>group</mat-icon>
    </button>
  </div>
</mat-toolbar>
