<div style="margin-right: 25px; margin-left: 25px; margin-bottom: 25px;" (click)="cardClicked()">
  <mat-card style="padding: 0;">
    <mat-card-header style="background-color: #484848;">
      <mat-card-title-group style="align-items: center;">
        <mat-card-title class="text-center" style="color: white; margin: 10px" fxFlexAlign="stretch">
          {{kanbanCard.title}}
        </mat-card-title>
      </mat-card-title-group>
    </mat-card-header>

    <mat-divider></mat-divider>

    <mat-card-content style="margin: 16px;" fxLayout="column" fxLayoutAlign="stretch">
      <p class="text-center">{{kanbanCard.description}}</p>
    </mat-card-content>

  </mat-card>
</div>
