/* .group-members-container {
  margin: 0 20% 0 20%;
}

.assigned-task-container {
  margin-left: 10%;
}

.assigned-task {
  background-color: #EEEEEE;
}
.task-list {
  //margin: 0 20% 0 20%;
  float: right;
}

.task-list-mobile {
  margin: 0 5% 0 5%;
}

.table-content-mobile {
  width: 800px;
}
 */
 .task-list {
  //margin: 0 20% 0 20%;
  display: inline-block;
  margin:5%;
  width: 350px;
}
.groups{
  display: inline-block;
  margin-top: 5%;
  min-width: 350px;
  width: 50%;
}
.tab{
  text-align: center;
}
