.group-members-container {
  margin: 0 20% 0 20%;
}

.assigned-task-container {
  margin-left: 10%;
}

.assigned-task {
  background-color: #EEEEEE;
}

.assigned-task-dark {
  background-color: #2a2a2a;
}
