<div (swipeleft)="swipe($event.type)" (swiperight)="swipe($event.type)" class="height-100">
  <mat-tab-group #tabGroup [selectedIndex]="selected">
    <mat-tab label="Asignación de trabajos">
      <h4>Grupos</h4>
      <mat-divider></mat-divider>
      <div ngClass="" ngClass.gt-md="group-members-container" >
        <mat-accordion >
          <mat-expansion-panel *ngFor="let group of adminGroupsFlat; let index=index">
            <mat-expansion-panel-header>
              <mat-panel-title class="text-bold">
                {{group.name}}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-accordion class="assigned-task-container">
              <mat-expansion-panel class="assigned-task" *ngFor="let task of group.tasks | async">
                <mat-expansion-panel-header class="text-bold">
                  {{task.name}}
                </mat-expansion-panel-header>
                <div class="width-100" fxLayout="column" fxLayout.gt-md="row">
                  <p fxFlex="33">Asignada en: {{task.creationDate | date: 'dd/MM/yyyy'}}</p>
                  <p fxFlex="33">Fecha estimada: {{task.deliveryDate | date: 'dd/MM/yyyy'}}</p>
                  <p>Descripción:<br>{{task.description}}</p>
                  <p fxFlex="33">
                    progreso: {{task.progress}}%
                    <mat-progress-bar mode="determinate" value="{{task.progress}}"></mat-progress-bar>
                  </p>
                </div>
              </mat-expansion-panel>
            </mat-accordion>

            <div class="width-100" fxLayout="row" fxLayoutAlign="end center">
              <button (click)="openAssignTask(group.id,index)" color="primary" mat-flat-button mat-icon-button>
                <mat-icon>add</mat-icon>
              </button>
            </div>

          </mat-expansion-panel>
        </mat-accordion>
      </div>


      <h4>Personas</h4>
      <mat-divider></mat-divider>
    </mat-tab>
    <mat-tab label="Lista de trabajos">
      <ng-template matTabContent>
        <app-create-task></app-create-task>
      </ng-template>
    </mat-tab>
  </mat-tab-group>

</div>
